snippet :vtsfp "vim_tmux_send_filepath" i
%%%vim_tmux_send_filepath%%%
endsnippet

snippet :vtsfd "vim_tmux_send_filedir" i
%%%vim_tmux_send_filedir%%%
endsnippet


# Built with mdtangle from:
# /Users/tadhg/vcs/vimplugins/vim-tmux-send/autoload/vim-tmux-send.tangle.md